{% extends "finalView/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <img src="{% static "images/logo.png" %}" alt="Rise Logo" height=200>
    </div>
    <div class="col-sm-8 text-left">
      <br>
      <h1>Welcome to Rise!</h1>
      <hr>
      <h3>If you are a nonprofit and would like to assist in our mission, please create an account today!</h3>
      <br>
      <a href="account/register" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Support a
        good cause today!</a>
      <hr>
      <h3>If you are already have an account, log in!</h3>
      <br>
      <a href="account/login" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">Log in!</a>
        <hr>
      <h3>Eager to help out?</h3>
      <br>
      <a href="search.html" class="btn btn-info btn-lg btn-block" role="button" aria-pressed="true">Search for issues today!</a>
    </div>
  </div>
</div>
{% endblock content %}