<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Dane Pass</title>
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/" />

	<!-- Bootstrap core CSS -->
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/stylesheets/welcomePage.css" rel="stylesheet">
	<style>
			#bodyid #container{
				height:  1000px;
				width:  1000px;
				background-image: url('../images/hiking.jpg')
			}
		
		</style>
</head>

<body id="bodyid">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top purp">
		<a class="navbar-brand" href="/"><span class="gold-text">Dane Pass</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/check">Check</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/generator">Generator</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/about">About</a>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Dane Pass</h1>
				<p class="lead">This is a simple web app designed to help University at Albany students create safe and secure passwords for there accounts</p>
			</div>
		</div>
	</main>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
</body>

</html>